

.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.paginator {
    display: flex;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}
.pageNumber {
    padding: 4px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
    color: orange;
    background-color: black;
}

button { cursor: pointer}

