.formControl.error input,
.formControl.error textarea,
.formControl error textarea
{
    border: solid red 2px;
}


.formControl.error span {
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    justify-content: center;
    align-items: center;
}

.formContainer, Input {
    width: 200px;
}

.checkBox  {
    display: flex;
    flex-direction: row;
    width: 1000px;
    align-items: center;
    justify-content: left;
}

