
.descriptionBlock {
    padding: 10px;
    display: flex;
    font-family: Onest;
}

.profileImage {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.jobChecker {
    max-width: 50px;
}

.contactStyle {
    margin-left: 10px;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.imageSection input {
    margin-top: 10px;
}

.profileDetailsSection {
    margin-left: 30px;
}

.profileDetailsSection div {
    padding: 1px
}

.status {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #CCCCCC;
}

.editBtn {
    font-family: Onest;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;
    color: #333; /* Dark gray text color */
    background-color: #f0f0f0; /* Light gray background color */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.editBtn:hover {
    background-color: #3faf5f; /* Slightly darker gray on hover */
    color: white;
}

.editImgInput {
    display: none
}

.editImgBtn {
    display: block;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 15px;
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
}

.editImgBtn:hover {
    background-color: #3faf5f; /* Slightly darker gray on hover */
    color: white;
}