.descriptionBlock {
    padding: 10px;
}

.profileImage {
    max-width: 200px;
}

.jobChecker {
    max-width: 50px;
}

.contactStyle {
    margin-left: 10px;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}